@charset "UTF-8";

.section-0 {
    position: relative;
}

.section-0-content {
    position: absolute;
    width: 1600px;
}

.section-0 .header {
    position: absolute;
    width: 1600px;
    height: 159px;
}

.section-0 .header .buttons-panel {
    display: flex;
    height: 102px;
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
}

.section-0 .header .buttons-panel .logo {
    margin-top: 41px;
    margin-right: 214px;
    margin-left: 179px;
    border-top: 2px solid transparent;
    color: White;
    font-family: "Yeseva One", serif;
    font-size: 36px;
    line-height: 36px;
}

.section-0 .header .buttons-panel .button {
    padding-top: 41px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 16px;
    margin-left: 15px;
    border-top: 2px solid transparent;
    color: White;
    transition: 0.25s;
    font-family: "Gentium Book Basic", serif;
    font-size: 21px;
    line-height: 36px;
}

.section-0 .header .buttons-panel .button:hover {
    border-top: 2px solid White;
}

.section-0 .header .buttons-panel .button a {
    color: inherit !important;
    text-decoration: inherit !important;
}

.section-0 .header .buttons-panel .icon {
    margin-top: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-top: 2px solid transparent;
    color: #e8b42e;
    transition: 0.25s;
    font-size: 21px;
    line-height: 36px;
}

.section-0 .header .buttons-panel .icon a {
    color: #e8b42e;
    transition: 0.25s;
}

.section-0 .header .buttons-panel .icon:hover,
.section-0 .header .buttons-panel .icon a:hover {
    color: White;
}

.section-0 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 261px 77px 57px;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "title title"
    "separator separator"
    "button-1 button-2";
    text-align: center;
    color: White;
    padding-top: 50px;
}

.section-0 .container .title {
    grid-area: title;
    font-family: "Yeseva One", serif;
    font-size: 90px;
    line-height: 118px;
}

.section-0 .container .separator {
    grid-area: separator;
}

.section-0 .container [class^="button"] {
    font-family: "Lato", serif;
    font-size: 18px;
    line-height: 18px;
    transition: 0.25s;
}

.section-0 .container .button-1 {
    padding-top: 20px;
    grid-area: button-1;
    margin-right: 16px;
    margin-left: auto;
    line-height: 18px;
    background: rgba(0, 0, 0, 0.56);
    border: 1px solid rgba(0, 0, 0, 0.8);
    width: 228px;
}

.section-0 .container .button-2 {
    padding-top: 19px;
    grid-area: button-2;
    margin-left: 14px;
    background: rgba(255, 255, 255, 0.196);
    border: 1px solid rgba(255, 255, 255, 0.7);
    width: 226px;
}

.section-0 .container .button-1 a,
.section-0 .container .button-2 a {
    color: inherit !important;
    text-decoration: inherit !important;
}

.section-0 .container .button-1:hover {
    background: rgba(0, 0, 0, 0.76);
}

.section-0 .container .button-2:hover {
    background: rgba(255, 255, 255, 0.396);
}

.section-1 {
    position: relative;
}

.section-1-content {
    position: absolute;
    width: 1600px;
}

.section-1 .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 51px 169px 289px;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "header photo"
    "separator photo"
    "content photo"
    "finish photo";
    font-size: 16px;
    font-family: "Lato", serif;
    line-height: 24px;
    margin-top: 55px;
    margin-left: 260px;
    margin-right: 240px;
    text-align: center;
}

.section-1 .container .photo {
    grid-area: photo;
}

.section-1 .container .header {
    font-family: "Yeseva One", serif !important;
    color: #dd9a00;
    font-size: 36px;
    grid-area: header;
    margin-top: 54px;
}

.section-1 .container .separator {
    grid-area: separator;
}

.section-1 .container .content {
    grid-area: content;
}

.section-1 .container .finish {
    grid-area: finish;
}

.section-1 .container .finish img {
    margin-left: 69px;
}

.section-2 {
    position: relative;
}

.section-2-content {
    position: absolute;
    width: 1600px;
}

.section-2 .container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 48px 48px 188px 188px;
    gap: 0 0;
    grid-template-areas:
    "header header header"
    "separator separator separator"
    "content content content"
    "finish-1 finish-2 finish-3";
    font-size: 16px;
    font-family: "Lato", serif;
    line-height: 24px;
    text-align: center;
    padding-top: 85px;
    width: 570px;
    float: right;
    margin-top: 100px;
    margin-right: 215px;
    background: rgba(0, 0, 0, 0.5);
    color: White;
}

.section-2 .header {
    grid-area: header;
    font-family: Yeseva One, serif;
    font-size: 36px !important;
}

.section-2 .separator {
    grid-area: separator;
}

.section-2 .content {
    grid-area: content;
}

.section-2 .finish-1 {
    grid-area: finish-1;
}

.section-2 .finish-2 {
    grid-area: finish-2;
}

.section-2 .finish-3 {
    grid-area: finish-3;
}

.section-2 .finish-3 img {
    margin-right: 90px;
}

.section-2 .finish-1 img {
    margin-left: 90px;
}

.section-3 {
    position: relative;
}

.section-3-content {
    position: absolute;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-3 .column-right {
    flex: 1;
}

.section-3 .column-left {
    flex: 1;
}

.section-3 .container-lower-right {
    padding-right: 285px;
    padding-top: 30px;
    padding-left: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 59px 50px 42px 35px 20px 42px 55px 42px 55px 42px 55px;
    gap: 0 0;
    grid-template-areas:
    "header header"
    "separator separator"
    "name-1 price-1"
    "desc-1 desc-1"
    "spec spec"
    "name-2 price-2"
    "desc-2 desc-2"
    "name-3 price-3"
    "desc-3 desc-3"
    "name-4 price-4"
    "desc-4 desc-4";
}

.section-3 .container-lower-left {
    padding-left: 285px;
    padding-top: 30px;
    padding-right: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 59px 50px 42px 35px 20px 42px 55px 42px 55px;
    gap: 0 0;
    grid-template-areas:
    "header header"
    "separator separator"
    "name-1 price-1"
    "desc-1 desc-1"
    "spec spec"
    "name-2 price-2"
    "desc-2 desc-2"
    "name-3 price-3"
    "desc-3 desc-3";
}

.section-3 .container-upper-left {
    padding-left: 285px;
    padding-top: 100px;
    padding-right: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 59px 50px 42px 55px 42px 55px 42px 55px;
    gap: 0 0;
    grid-template-areas:
    "header header"
    "separator separator"
    "name-1 price-1"
    "desc-1 desc-1"
    "name-2 price-2"
    "desc-2 desc-2"
    "name-3 price-3"
    "desc-3 desc-3";
}

.section-3 .container-upper-right {
    padding-right: 285px;
    padding-top: 100px;
    padding-left: 85px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 59px 50px 42px 55px 42px 55px;
    gap: 0 0;
    grid-template-areas:
    "header header"
    "separator separator"
    "name-1 price-1"
    "desc-1 desc-1"
    "name-2 price-2"
    "desc-2 desc-2";
}

.section-3 .header {
    font-family: "Yeseva One", serif;
    font-size: 36px !important;
    color: #dd9a00;
    width: 100%;
    text-align: center;
    grid-area: header;
}

.section-3 .separator {
    grid-area: separator;
    display: flex;
    justify-content: center;
}

.section-3 .spec {
    grid-area: spec / name-2 / price-2 / desc-2;
    color: White;
    text-align: right;
    font-family: Lato, serif;
    font-size: 14px !important;
}

.section-3 .name-1 {
    grid-area: name-1;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .price-1 {
    grid-area: price-1;
    text-align: right;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .desc-1 {
    grid-area: desc-1;
    font-family: "Lato", serif;
    font-size: 16px !important;
}

.section-3 .name-2 {
    grid-area: name-2;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .price-2 {
    grid-area: price-2;
    text-align: right;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .desc-2 {
    grid-area: desc-2;
    font-family: "Lato", serif;
    font-size: 16px !important;
}

.section-3 .name-3 {
    grid-area: name-3;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .price-3 {
    grid-area: price-3;
    text-align: right;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .desc-3 {
    grid-area: desc-3;
    font-family: "Lato", serif;
    font-size: 16px !important;
}

.section-3 .name-4 {
    grid-area: name-4;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .price-4 {
    grid-area: price-4;
    text-align: right;
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
    color: #dd9a00;
}

.section-3 .desc-4 {
    grid-area: desc-4;
    font-family: "Lato", serif;
    font-size: 16px !important;
}

.section-3 .spec {
    height: 96px;
    background-image: url(s3tag.png);
    background-size: cover;
}

.section-3 [class^="desc"] {
    height: 1px;
    background-image: url(s3l.png);
    background-size: cover;
}

.section-4 {
    position: relative;
}

.section-4-content {
    position: absolute;
    width: 1600px;
}

.section-4 .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 52px 49px 246px 135px;
    grid-auto-columns: 1fr;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "header"
    "separator"
    "content"
    "finish";
    font-size: 25px;
    font-family: "Gentium Book Basic", serif;
    line-height: 45px;
    text-align: center;
    padding-top: 75px;
    background: rgba(0, 0, 0, 0.8);
    width: 770px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    color: White;
}

.section-4 .header {
    grid-area: header;
    font-family: "Yeseva One", serif;
    font-size: 36px !important;
}

.section-4 .separator {
    grid-area: separator;
}

.section-4 .content {
    grid-area: content;
}

.section-4 .finish {
    font-family: "Lato", serif;
    font-size: 18px;
    color: White;
    grid-area: finish;
}

.section-4 .quote {
    position: absolute;
    font-family: "Georgia", serif;
    font-size: 96px;
    line-height: 40px !important;
    color: #a1a29c;
    margin-left: 443px;
    margin-top: 288px;
}

.section-5 {
    position: relative;
}

.section-5-content {
    position: absolute;
    width: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section-5 .container {
    padding-top: 98px;
    padding-left: 214px;
    padding-right: 214px;
    display: grid;
    grid-template-columns: 300px 300px 1fr;
    grid-template-rows: 55px 50px 81px 89px 252px;
    gap: 0 0;
    grid-template-areas:
    "image1 image2 header"
    "image1 image2 separator"
    "image1 image2 description1"
    "image1 image2 description2"
    "image1 image2 container-user";
}

.section-5 .header {
    font-family: "Yeseva One", serif;
    font-size: 36px !important;
    color: #dd9a00;
    width: 100%;
    text-align: center;
    grid-area: header;
}

.section-5 .separator {
    grid-area: separator;
    display: flex;
    justify-content: center;
}

.section-5 .description1 {
    text-align: center;
    grid-area: description1;
    font-family: "Lato", serif;
    font-size: 16px !important;
    line-height: 24px;
}

.section-5 .description2 {
    text-align: center;
    grid-area: description2;
    font-family: "Lato", serif;
    font-size: 16px !important;
    line-height: 24px;
}

.section-5 .container-user {
    grid-area: container-user;
    padding-left: 70px;
    padding-right: 70px;
}

.section-5 .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section-5 form .user-details span.details {
    display: block;
    font-weight: bold;
    font-family: "Lato", serif;
    color: #d8a21d;
    margin-bottom: 5px;
}

.section-5 .user-details input,
.section-5 .user-details select {
    outline: none;
    font-size: 16px;
    font-family: "Open Sans", serif;
    height: 33px;
    font-style: italic;
    padding-left: 15px;
    border: 1px solid #ccc;
    color: Grey;
    background: rgba(255, 255, 255, 0.4);
    transition: 0.25s;
}

.section-5 .user-details input:hover,
.section-5 .user-details select:hover {
    border: 1px solid #d8a21d;
}

.section-5 .user-details select {
    height: 37px !important;
}

.section-5 .input-box,
.input-box input {
    width: 182px;
}

.section-5 .input-box,
select {
    width: 200px;
}

.section-5 .button {
    text-align: center;
    margin-top: 32px;
}

.section-5 .button input {
    border: none;
    color: #fff;
    font-family: "Open Sans", serif;
    font-size: 16px;
    cursor: pointer;
    background: #d8a21d;
    transition: 0.25s;
    padding: 7px 60px;
}

.section-5 .button input:hover {
    background: #e7bc4d;
}

.section-5 .input-box {
    margin-top: 22px;
}

.footer {
    position: relative;
}

.footer-content {
    position: absolute;
    width: 1600px;
}

.footer i {
    margin-right: 7px;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40px 37px 96px 20px;
    gap: 0 0;
    grid-auto-flow: row;
    grid-template-areas:
    "header-1 header-2 header-3"
    "separator-1 separator-2 separator-3"
    "content-1 content-2 content-3"
    "finish-1 finish-2 finish3";
    color: White;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-top: 57px;
    margin-left: 200px;
    margin-right: 200px;
}

.footer .container a {
    color: White;
}

.footer .container [class^="header"] {
    font-family: "Yeseva One", serif;
    font-size: 21px !important;
}

.footer .container .bold-font {
    font-family: "Open Sans", serif;
    font-weight: 700 !important;
}

.section-0 > img {
    height: 750px;
    object-fit: cover;
    object-position: 100% 0;
}

.section-2 > img {
    height: 758px;
    object-fit: cover;
    object-position: 100% 0;
}

.section-4 > img {
    height: 758px;
    object-fit: cover;
    object-position: 22% 78%;
}

.footer > img {
    height: 320px;
    object-fit: cover;
    object-position: 100% 0;
}